{% extends 'base.html.twig' %}

{% block body %}
<section class="container">
  <div class="jumbotron text-center">
    <h1>ReActive</h1>
    <img src="{{ asset('img/logo.png')}}" />
    <p>Crea tus propios formulario y Checklist</p>
    <p><a class="btn btn-primary btn-lg" href="{{ path('pool_index')}}" role="button">Comienza Ahora</a></p>
  </div>
</section>
{% endblock %}
